html, body { 
    box-sizing: border-box;
    margin: 0;
    background-color: $main-background-color; 
    color: $text-color;
    font-size: 16px;
    font-family: 'Manjari', sans-serif;
    height: 100vh;
    width: 100vw;
}

*, *::before, *::after { 
    box-sizing: inherit;
}

a { 
    text-decoration: none;
    color: $text-color;
}

ul { 
    list-style: none;
    padding: 0;
    
    li { 
        display: flex;
        align-items: center;
        padding-left: 20px;
        border-left: 5px solid $menu-sidebar-color;
        cursor: pointer;
        transition: all .2s;

        &:not(:first-child):hover { 
            font-weight: bold;
            color: $text-contrast;
            
            span { 
                text-shadow: 0 0 5px $text-contrast;
            }

            i { 
                fill: $text-contrast;
            }
        }
    }
}