.player-container { 
    display: grid;
    grid-template-columns: .1fr 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: "info controllers options";
    background-color: $player-color;
    grid-area: player;
    padding: 20px;

    .music-info-container { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-area: info;

        img { 
            height: 100%;
            width: 70px;
        }

        .music {
            overflow-x: hidden;
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 0 10px;
            font-size: 0.8em;
            max-width: 30px;

            .title { 
                color: white;
                font-weight: bold;
            }
        }
    }

    .player-option-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-area: options; 

        .bar {
            display: flex;
            align-items: center;
            margin-right: 2px;

            div { 
                width: 50px;
                height: 5px;
                border-radius: 5px;
                background-color: $scrollbar-color;
            }
        }

        i:not(:last-child) { 
            margin-right: 2px;
            font-size: 1.1em;
        }
    }

    .player-controllers-container { 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        grid-area: controllers;

        .controllers { 
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 25%;

            .play-icon {
                font-size: 2.5em;
            }
        }

        .timeline { 
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 80%;

            .bar { 
                width: 75%;
                height: 5px;
                border-radius: 5px;
                background-color: $scrollbar-color;
            }

            span { 
                font-size: .8em;
            }
        }
    }
}